name: Build on commit
on:
  push:
    branches:
      - master
      - next-version
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          #cache: 'gradle'

      - name: Build sources
        run: ./gradlew build

